<div class="panel panel-danger">
    <div class="panel-heading">
        <h4>
            jshint-external Error
            <div class="small"><%= timestamp %></div>
        </h4>
    </div>
    <div class="panel-body">
        <%= message %>
    </div>
</div>

<div class="small text-center">
    <b>
    <a href="https://github.com/natesilva/jshint-external.tmbundle"
            >
        jshint-external TextMate Bundle Home Page
    </a>
    </b>
</div>
